html {
  font-family: 'Lemon', serif;
}

body {
  margin: 0px;
}

p {
  background-color: coral;
}

.text-pink {
  color: pink;
}

.background-blue {
  background-color: blue;
}

#paragraph {
  padding: 100px;
}

.main-content {
  padding: 50px;
  background-color: aquamarine;
  font-size: 72px;
  font-weight: bold;
}

p > .child-element {}
